@{
    ViewBag.Title = "Company";
}
<table class="statistic">
    <caption>Список сотрудников</caption>

    <tr>
        <td><p>ID</p></td>
        <td><p>Название</p></td>
        <td><p>Рамер</p></td>
        <td><p>Форма</p></td>
        <td></td>
    </tr>
    @foreach (var entity in ViewBag.entites)
            {
        <tr>
            <td><input type="hidden" value="@entity.CompanyID" class="id"><p>@entity.CompanyID </p></td>
            <td><input type="text" value="@entity.CompanyName" class="name"></td>
            <td><input type="text" value="@entity.Size" class="size"></td>
            <td><input type="text" value="@entity.CompanyForm" class="form"></td>
            <td><input type="button" value="Изменить" class="update"></td>
            <td><input type="button" value="Удалить" class="delete"></td>
        </tr>
    }
    <tr>
        <td></td>
        <td><input type="text" value="" class="name"></td>
        <td><input type="text" value="" class="size"></td>
        <td><input type="text" value="" class="form"></td>
        <td><input type="button" value="Добавить" class="create"></td>
    </tr>
</table>

<script>
     $(document).ready(function () {
         $(document).on('click', '.create, .update', function () {
             var id = $(this).closest('tr').find('input.id').val();
             var name = $(this).closest('tr').find('input.name').val();
             var size= $(this).closest('tr').find('input.size').val();
             var form = $(this).closest('tr').find('input.form').val();
             $.ajax({
                 type: 'POST',
                 url: '/Company/CreateOrUpdate',
                 data: { CompanyID: id, CompanyName: name, Size: size, CompanyForm: form },
                 success: function (data) {
                     if ($(this).attr('class') != 'create') {
                         location.reload();
                     }
                 },
                 async: true
             });
         });
     });
$(document).ready(function () {
    $(document).on('click', '.delete', function () {
        var id = $(this).closest('tr').find('input.id').val();
        $.ajax({
            type: 'POST',
            url: '/Company/Delete',
            data: {id: id},
            success: function (data) {
                    location.reload();
            },
            async: true
        });
    });
});
</script>